<h2><%= current_user.full_name.titleize+" @"+current_user.user_name %></h2>
<div class="pro span4">
  <ul class="inline">
    <li style="width:80px;text-align: center"><b><%= link_to "Followers #{@followers}", followers_path %></b></li>
    <li style="width:80px;text-align: center"><b><%= link_to "Following #{@following}", following_path %></b></li>
    <li style="width:80px;text-align: center"><b><%= link_to "My Tweets #{current_user.tweets.count}", user_tweets_path %></b></li>
  </ul>
</div>