<h2><%= @user.full_name.titleize+" @"+@user.user_name %></h2>
<div class="pro span4">
  <ul class="inline">
    <li style="width:80px;text-align: center"><b><%= link_to "Followers #{@followers}", followers_path(@user.id) %></b></li>
    <li style="width:80px;text-align: center"><b><%= link_to "Following #{@following}", following_path(@user.id) %></b></li>
    <li style="width:65px;text-align: center"><b><%= link_to "Tweets #{@user.tweets.count}", user_tweets_path(@user.id) %></b></li>
  </ul>
</div>